.about {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 100px 80px 113px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.about__title {
  max-width: 251px;
  margin: 0;
  z-index: 1;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  max-width: 660px;
  margin: 19px 0 0;
}

.about__paragraph {
  margin: 0 0 20px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph:last-of-type {
  margin: 0;
}

.about__circle {
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}
